<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar" style="margin-left: 600px;">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top: 0px;">
          
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#" routerLink="Features" style="color:black;font-size: 20px; margin-left : -500px;">⫸Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="Planning"  style="color:black ;font-size: 20px; margin-left : -250px;">⫸Planning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  routerLink="Contact" style="color:black;font-size: 20px;">⫸Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="Register" style="color:black;font-size: 20px;margin-left : 120px;">⫸Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="Logout" style="color:black;font-size: 20px;margin-left : 140px;">⫸Logout</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>