
   

<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="background: url();">
    <div class="container">
      <div class="row align-items-center">
  <div class="wrapper-box" >
    <br>
    <br>
    <br>
    <br>
<h5>Daily Planner is a simple, smart to-do list that makes it easy to plan your day. Whether it's for work, school or home, it will help you increase your productivity and reduce your stress levels. It combines smart technology and beautiful design to make your day's workflow simple.

  Organizing and planning your day
  
  Organize your day with smart suggestions from  ₯ and complete the most important tasks and work you need to get done every day. it syncs your phone with your computer, so you can get to the task from the school, the office, the grocery store, or even while you're traveling the world.
  
  Share lists with family and colleagues
  
  List sharing enables you to collaborate on shared lists and tasks and achieve your goals seamlessly. Whether you want to share a to-do list with your work teams or a grocery shopping list with your partner, using our share link, we make it easy to coordinate, collaborate in small teams and collaborate between two people. Getting things done together has never been easier!
  
  Break your task down into smaller, actionable tasks
  
  Steps (subtasks) allow any tasks to be broken down into smaller, more actionable tasks. To help customers be more productive, each task will display how many steps (subtasks) it contains and how many steps have been completed so far. Steps (subtasks) will also maintain their completed state even when they are marked complete or incomplete.
  
  Set due dates and reminders
  
  You can add, organize, and schedule tasks on the go. You can also add reminders and due dates for important tasks that you need to remember; We will remind you of it. And if you have tasks that you need to get done on a daily, weekly, or yearly basis, you can set up recurring due dates to remind you each time.</h5>     
