

<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container" style="color:rgb(38, 41, 41);background-color: #a1bbd6;border-radius: 30px;">
    <div class="row align-items-center"  >

<div class="wrapper-box" >
  
    <div class="container" >
      <h2 class="text-center mb-5" style="color: rgb(46, 47, 50); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 20px;">💫We are lucky to have ur feedback!</h2>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form >
            <div class="form-group">
              <label for="Email"><h5>Email</h5></label>
              <input  type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter your email" formControlName="Email"/>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email .</small>
            </div>
            <div class="form-group">
              <label for="fullname"><h5>Full Name</h5></label>
              <input type="text" class="form-control" name="Fullname" placeholder="Your full Name" formControlName="Fullname"/>
            </div>
  
            <div class="form-group">
              <label for="comment"><h5>Comment</h5> </label>
              <textarea class="form-control" formControlName="Comment" name="Comment" placeholder="Feel free to write your feedback!" style="height:100px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style=" background-color: #1d1c1c ;color: white; margin-top: 15px;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
