
<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="background:url();">
    <div class="container">
      <div class="row align-items-center">
        <div class="card shadow-2-strong card-registration  scroll " style="border-radius: 10px ;height: 500px;width:1100px;margin-top: 20px;margin-left: 10px;background-color: #a1bbd6; ">
<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans" style="margin-top: 0px;">
        <div class="mb-4">
            <form [formGroup]="newTodoForm" class="flex mt-4" (ngSubmit)="addTask()">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                    placeholder="₯...Add a task" formControlName="todoItem" style="width:90%;">
                <button type="submit"
                    class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-black hover:bg-teal"  
                  style="background-color: #1d1c1c
                  ;
                  color: white;border: none;cursor: pointer;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;width: 50px;">Save
                </button>
            </form>
             
        </div>
       
            <div class="flex mb-4 items-center" *ngFor= "let value of taskList; index as i">
                      <p class="w-full text-grey-darkest" [ngClass]="{'line-through': value.completed}">{{value.name}}</p>
                      <button
                           style="margin-left: 1000px;background-color: #1d1c1c
                          ;
                          color: white;border-radius: 10px;cursor: pointer;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;width: 65px;"(click)="markDone(value)">Done</button>
                      <button
                           style="margin-left: 1000px;background-color: #1d1c1c
                          ;
                          color: white;border-radius: 10px;cursor: pointer;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;width: 65px;"(click)="removeTask(i)">Remove</button>
                  </div>
              </div>
          </div>
      </div>
